@charset "utf-8";
/*
Template Name: Craving
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
File: Custom Flexslider CSS => For FlexSlider v2.2.0
*/

/* Browser Resets
--------------------------------------------------------------------------------------------------------------- */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus{outline:none;}
.slides, .flex-direction-nav{margin:0; padding:0; list-style:none;}


/* FlexSlider Necessary Styles
--------------------------------------------------------------------------------------------------------------- */
.flexslider{display:block; position:relative; margin:0; padding:0;}
.flexslider .slides{display:block; width:100%; white-space:nowrap; overflow:hidden;}
.flexslider .slides > li{display:none; position:relative; -webkit-backface-visibility:hidden;}

.slides::before, .slides::after{display:table; content:"";}
.slides, .slides::after{clear:both;}


/* FlexSlider Default Theme
--------------------------------------------------------------------------------------------------------------- */
.flex-viewport{max-height:2000px; transition:all 1s ease;}
.loading .flex-viewport{max-height:300px;}
.flexslider .slides{zoom:1;}

/* Direction Nav */
.flex-direction-nav{*height:0;}
.flex-direction-nav a{display:block; position:absolute; top:50%; width:40px; height:40px; margin:-20px 0 0; z-index:10; overflow:hidden; text-decoration:none; opacity:0; cursor:pointer; color:rgba(0,0,0,0.8); text-shadow:1px 1px 0 rgba(255,255,255,0.3); transition:all .3s ease;}
.flexslider:hover .flex-prev, .flexslider:hover .flex-next{opacity:0.5;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1;}
.flex-direction-nav .flex-disabled{opacity:0 !important; cursor:default;}
.flex-direction-nav a::before{font-family:"FontAwesome"; font-size:40px; line-height:1; display:inline-block; content:"\f053";}
.flex-direction-nav a.flex-next::before{content:"\f054";}


/* FlexSlider Carousel
--------------------------------------------------------------------------------------------------------------- */
.carousel{display:block; position:relative; width:75%; margin:0 auto;}
.carousel ul{margin:0; padding:0; list-style:none; z-index:1;}
.carousel li blockquote{margin-bottom:30px;}
.carousel .flex-direction-nav a{color:rgba(255,255,255,.8);}
.carousel .flex-direction-nav .flex-prev{left:-60px;}
.carousel .flex-direction-nav .flex-next{right:-60px;}


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){.flex-direction-nav{display:none;}}